<app-header title="Genealogia"> </app-header>

<ion-content fullscreen="true">
  <fam-diagram
    [items]="items"
    [pageFitMode]="PageFitMode.None"
    [arrowsDirection]="GroupByType.Children"
    [showExtraArrows]="false"
    [linesColor]="'black'"
    [normalLevelShift]="20"
    [dotLevelShift]="20"
    [lineLevelShift]="20"
    [normalItemsInterval]="10"
    [dotItemsInterval]="30"
    [lineItemsInterval]="30"
    [buttonsTemplate]="buttonsTemplate"
  >
  </fam-diagram>
  <ng-template #buttonsTemplate let-itemConfig="context">
    <ion-button (click)="onEditButtonClick($event, itemConfig)" color="danger">
      <i class="fa-solid fa-user-pen"></i>
    </ion-button>
  </ng-template>
</ion-content>
<ion-footer #footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <i class="fa-solid fa-floppy-disk" style="margin-right: 5px"></i>
        Salvar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
