<app-header title="Anotação" routeBase="annotations"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{annotation.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <quill-editor
        [readOnly]="true"
        bounds="self"
        [(ngModel)]="annotation.text"
        [required]="true"
        theme="bubble"
        style="height: auto; width: 95%"
      >
      </quill-editor>
    </ion-card-content>
  </ion-card>

  <app-tag-editor
    [tags]="annotationsService.tags"
    (onAddTag)="addTag($event)"
    (onRemoveTag)="removeTag($event)"
  ></app-tag-editor>

  <ion-card *ngIf="annotation.comments.length > 0">
    <ion-card-header>
      <ion-card-title>Comentários</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let comment of annotation.comments">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h4 color="primary"><i>"{{comment.textReference}}"</i></h4>
          </ion-text>
          <p>{{comment.text}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-item button detail="true" [routerLink]="['characters']">
    <ion-label>
      <h2>Personagens</h2>
      <p>Personagens relacionados</p>
      <p>
        <ion-chip color="primary" *ngFor="let chr of charactersOfAnnotation"
          >{{chr}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" [routerLink]="['locales']">
    <ion-label>
      <h2>Lugares</h2>
      <p>Lugares relacionados</p>
      <p>
        <ion-chip color="primary" *ngFor="let loc of localesOfAnnotation"
          >{{loc}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" [routerLink]="['events']">
    <ion-label>
      <h2>Eventos</h2>
      <p>Eventos relacionados</p>
      <p>
        <ion-chip color="primary" *ngFor="let loc of eventsOfAnnotation"
          >{{loc}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="top" horizontal="end"> </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button
        color="success"
        fill="clear"
        [routerLink]="['/annotations/view/'+annotation.id+'/edit']"
      >
        <i class="fa-solid fa-pen-to-square"></i
      ></ion-fab-button>

      <ion-fab-button fill="clear" color="danger" (click)="showDialogDelete()">
        <i class="fa-solid fa-trash"></i
      ></ion-fab-button>

      <ion-fab-button
        (click)="downloadPDF(annotation.text ?? '', annotation.title ?? 'annotation')"
      >
        <i class="fa-solid fa-file-pdf"></i>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
