<app-header
  title="Eventos da anotação"
  [routeBase]="utilsService.getDefautRouteAbove()"
></app-header>
<ion-content>
  <ion-list>
    <ion-item
      detail="true"
      [routerLink]="[]"
      (click)="presentActions(item)"
      *ngFor="let item of events; let index"
    >
      <ion-thumbnail slot="start">
        <img src="/assets/icon/event.png" [alt]="item.title" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['search-event']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
