<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button routerLink="/configs/calendars">
    <ion-label class="ion-text-wrap">
      <h3>Calendários</h3>
      <p>
        Crie calendários para associar datas históricas (Gregoriano, Hebreu,
        Maia...)
      </p>
    </ion-label>
  </ion-item>
</ion-content>
