<app-header
  title="Lugares"
  [showBackButton]="false"
  (onHandleInput)="handleInput($event)"
></app-header>

<ion-content fullscreen="true">
  <ion-item
    *ngFor="let locale of list; let index"
    button
    detail="true"
    [routerLink]="['../view', locale.id]"
  >
    <ion-thumbnail slot="start">
      <img src="/assets/icon/locale.png" alt="avatar" />
    </ion-thumbnail>

    <ion-label>
      <h2>{{locale.name}}</h2>
      <p>{{locale.comments}}</p>
      <p *ngIf="locale.tags">
        <ion-chip
          color="primary"
          *ngFor="let dtb of utilsService.getArrayTags(locale.tags)"
          >{{dtb}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
