<app-header
  title="Personagens"
  [showBackButton]="false"
  (onHandleInput)="handleInput($event)"
>
  <div buttonsEnd>
    <ion-button [routerLink]="['/characters/genealogy']"><i class="fa-solid fa-sitemap"></i></ion-button>
  </div>
</app-header>
<ion-content fullscreen="true">
  <ion-item
    *ngFor="let character of list; let index"
    button
    detail="true"
    [routerLink]="['../view', character.id]"
  >
    <ion-thumbnail slot="start">
      <img src="/assets/icon/character.png" alt="avatar" />
    </ion-thumbnail>

    <ion-label>
      <h2>{{character.name}}</h2>
      <p>{{character.comments}}</p>
      <p *ngIf="character.tags">
        <ion-chip
          color="primary"
          *ngFor="let dtb of utilsService.getArrayTags(character.tags)"
          >{{dtb}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
