<app-header [title]="title" routeBase="characters"></app-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item counter="true" class="ion-marging">
      <ion-label position="stacked" class="ion-invalid">Nome</ion-label>
      <ion-input
        [(ngModel)]="character.name"
        maxlength="50"
        placeholder="Nome do personagem"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="ion-invalid">Comentários</ion-label>
      <ion-textarea
        [(ngModel)]="character.comments"
        placeholder="Comentários sobre o personagem"
        [autoGrow]="true"
        value=""
        required
      >
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Gênero" [(ngModel)]="character.sex">
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="F">Feminino</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="saveCharacter()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
