<app-header
  title="Anotações do evento"
  [routeBase]="utilsService.getDefautRouteAbove()"
></app-header>
<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let annotation of annotations"
      button
      detail="true"
      (click)="annotationsService.navigateToAnnotation(annotation.id)"
    >
      <ion-label>
        <h2>{{annotation.title}}</h2>
        <p>{{utilsService.removeTagsHTML(annotation.text)}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
  <app-message
    *ngIf="annotations?.length === 0"
    message="Nenhuma anotação relacionada ao evento"
  ></app-message>
</ion-content>
