<app-header title="Evento" routeBase="events"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{event.title}}</ion-card-title>
      <ion-card-subtitle>
        <ion-chip
          color="primary"
          *ngFor="let dtb of utilsService.getArrayTags(event.tags)"
          >{{dtb}}</ion-chip
        >
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{event.description}} </ion-card-content>
  </ion-card>

  <app-tag-editor
    [tags]="eventsService.tags"
    (onAddTag)="addTag($event)"
    (onRemoveTag)="removeTag($event)"
  ></app-tag-editor>

  <ion-item button detail="true" [routerLink]="['../start-of-period']">
    <ion-label>
      <h2>Início do evento</h2>
      <p>Momento histórico em que o evento se iniciou</p>
      <p>
        <ion-chip color="primary" *ngFor="let dtb of datesStartOfPeriod"
          >{{dtb}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" [routerLink]="['../end-of-period']">
    <ion-label>
      <h2>Término do evento</h2>
      <p>Momento histórico em que o evento terminou</p>
      <p>
        <ion-chip color="primary" *ngFor="let dtb of datesEndOfPeriod"
          >{{dtb}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <!-- <ion-item button detail="true" [routerLink]="['characters']">
    <ion-label>
      <h2>Personagens</h2>
      <p>Personagens relacionados ao evento</p>
      <p>
        <ion-chip color="primary" *ngFor="let chr of charactersOfEvent"
          >{{chr}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item>

  <ion-item button detail="true" [routerLink]="['locales']">
    <ion-label>
      <h2>Lugares</h2>
      <p>Lugares relacionados ao evento</p>
      <p>
        <ion-chip color="primary" *ngFor="let loc of localesOfEvent"
          >{{loc}}</ion-chip
        >
      </p>
    </ion-label>
  </ion-item> -->

  <ion-item
    color="danger"
    lines="full"
    button
    detail="true"
    (click)="showDialogDelete()"
  >
    <fa-icon size="2x" icon="trash-alt" slot="start" color="danger"> </fa-icon>
    <ion-label>
      <h2>Deletar</h2>
      <p>Deletar este evento</p>
    </ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button
      color="primary"
      fill="clear"
      [routerLink]="['/events/'+event.id+'/edit']"
    >
      <fa-icon size="2x" icon="edit"> </fa-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
